
html{ 
    font-size: 16px; /* 16px = 1rem*/
}
body{
    
    padding: 1rem;
    background-color: #dcdcdc;    
    }

ul{
    
    padding: 1rem;
    font-family: "faculty-glyphic", sans-serif;
    list-style-type: "";
    color: #aa0658;
  
    }

p {
   
  font-size:1rem;
  padding-top: 1rem;
  color: #0900FF;
  padding-bottom: 1rem;
}
li{
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
border: #0900FF 2px solid;
border-radius: 10%;  
margin-bottom: 30px;
}

h1 {
font-family: "faculty-glyphic", sans-serif;
text-align: center;
  font-size: 3rem;
  color: #FF0076;
}

h2{
    font-size: 1rem;
    padding-top: 10vh;
    color: #0900FF;
    font-family: "faculty-glyphic", sans-serif;
    border-bottom: 2px solid #0900FF;
}
 img{
   border-radius: 5%;
  height: 80%;
  width: 80%; 
  display: block;
   margin: 0 auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
    li:hover img {
  filter: grayscale(0%);
}

/* link a risposo */
    a, a:link{
    color: #FF0076;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    text-align: right;
    text-shadow: 2px 2px 5px #FF0076;

    } 
/* link visitatori */
a:visited{
    color: #ffffff6d;
    } 
/* cursore su link o focus su link (tab) */    
a:hover, a:focus{
    color: #0900FF;
    text-shadow: 2px 2px 5px #0900FF;
    } 
/* link premuti */    
a:active{
    color: #ff00006d;
    } 

    /* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
h1 {
  font-size: 6rem;
}

h2{
    font-size: 3rem;
}
p {
   font-size:2rem;
  padding-top: 1rem;
  color: #0900FF;
  padding-bottom: 1rem;
}
ul{
     display: flex;
   flex-direction: row;
   padding-bottom: 1rem;
   gap: 30px;
    justify-content: center;

}
img {
   width: 85%;
   height: 60%;
   border-radius: 20px;
}
li{
    width: 30%;
   aspect-ratio: 1 / 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
p {

  padding-left: 1rem;
}

 a, a:link{
   padding-right: 1rem;

}
