body{
    color: rgb(11, 255, 48);
    background-color: rgba(0, 13, 255, 0.675);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family:monospace;
}
#about-me{
    background-color: hsla(0, 0%, 0%, 0.2);
}
#works{
    background-color: hsla(0, 0%, 0%, 0.4);
}
#contatti{
    background-color: hsla(0, 0%, 0%, 0.6);
}
.section{
   padding: 16px;
}
.gallery{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;

}
/* X-Small devices (portrait phones, less than 576px)
//No media query for `xs` since this is the default in Bootstrap*/

/* //Small devices (landscape phones, 576px and up) */
@media(min-width: 576px) {}

/* //Medium devices (tablets, 768px and up) */
@media(min-width: 768px) {}

/* //Large devices (desktops, 992px and up) */
@media(min-width: 992px) {
    .gallery{ 
        flex-direction: row;
        justify-content: space-between;
    }
    .gallery figure{
        width: 30%;
    }
}

/* //X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* //XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}