
html{ 
    font-size: 16px; /* 16px = 1rem*/
}
body{
    
    padding: 1rem;
    background-color: rgb(127, 38, 0);
    color: rgb(235, 235, 235);
    
    }

ul{
    
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    }
h1{
    text-align: center;
    font-size: ;
    }
.menu{
    display: flex;
    }
 .li{
    font-size: 1.5rem;
    }

a, a:link{
    color: #e4e4e4;
    } 

a:hover{
    color: #f6ff00;
    } 
a:visited{
    color: #f6ff006d;
    } 
