body{
    color: rgb(11, 255, 48);
    background-color: rgba(0, 13, 255, 0.675);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family:monospace;
}
#about-me{
    background-color: hsla(0, 0%, 0%, 0.2);
}
#works{
    background-color: hsla(0, 0%, 0%, 0.4);
}
#contatti{
    background-color: hsla(0, 0%, 0%, 0.6);
}
.section{
   padding: 16px;
}