
html{ 
    font-size: 16px; /* 16px = 1rem*/
}
body{
    
    padding: 1rem;
    background-color: rgb(127, 38, 0);
    color: rgb(235, 235, 235);
    
    }

ul{
    
    margin: 0.5vw;
    padding: 1rem;
    list-style-type: "▫️";
    
    
    }
h1{
    text-align: center;
    padding-bottom: 5vw;
    }
.menu{
    display: flex;
    }
 .li{
    font-size: 1.5rem;
    
    }

/* link a risposo */
    a, a:link{
    color: #e4e4e4;
    text-decoration: none;
    } 
/* link visitatori */
a:visited{
    color: #ffffff6d;
    } 
/* cursore su link o focus su link (tab) */    
a:hover, a:focus{
    color: #f6ff00d2;
    } 
/* link premuti */    
a:active{
    color: #f6ff006d;
    } 
