html {
    font-size: 16px; /* 16px = 1rem */
}

body {
display: flex;
flex-direction: column;   
background: #e8e8e8;
}

.title{
font-family: "tumb", sans-serif;
font-size: 3rem;
color: #ff0000;
text-align: center;
margin: 40vh 0 25vh;
}

h1{
font-family: "tumb", sans-serif;
font-size: 3rem;
color: #ff0000;
text-align: center;
margin-bottom: 30vh;

}

p{
color: #101010;
text-align: center;
font-family: "clother", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1rem;
padding: 3rem;
padding-bottom: 30vh;
}


.split-char {
  display: inline-block;
}

.indicatore{
  font-size: clamp(48px, 5.5vw, 129px);
  color: #ff0000;
  text-align: center;
  animation: bounce 1s infinite ease-in-out;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.contenitore {
  display: grid;
  place-items: center;
}
.home{
position: fixed;
bottom: 20px;
right: 10px;
z-index: 9999; 
}

.home img {
    width: 10vw;   
    height: auto;
    filter: invert(1);
  
}

.card-3d {
  width: 60vw;
  height: 70vw;
  position: relative;
  transform-style: preserve-3d;
  cursor: grab;
  margin: 2rem;
  border-radius: 20px;
  font-family: "clother", sans-serif;
  color: #ff0000;
  border: 2px solid #ff0000;
  
}

.faccia {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 15px #ff0000e6;
  font-size: 2rem;
}


.retro{
  transform: rotateY(180deg);
  padding: 2rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: 1rem;
  gap: 15px;
    
}
.retro img{
  border-radius: 16px;
  width: 300px;
  height: 300px;
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
}


/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

.title{
  font-size: 6rem;
  margin: 30vh 0 30vh;
}
p{
  font-size: 2rem;
  padding: 15vh 20vw 15vh 20vw ;
}

.home img {
    width: 4vw;   
    height: auto;
}

.card-3d {
  width: 30vw;
  height: 40vw;
  
}
.faccia {
  font-size: 4rem;
}

.retro{

  font-size: 3rem;
  gap: 15px;
    
}
.retro img{

  width: 500px;
  height: 500px;
 
}

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }