

@import url('use.typekit.net');
html{ 
    font-size: 16px; /* 16px = 1rem*/; 
}
body{
    background-image:url(images/sfondo.jpg);
    background-size: 1000px;
   background-position-x: center;
}

.collage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.tittle{
    color: #00f;
    text-shadow:
    0 0 4px #6fa8ff,
    0 0 8px #6fa8ffb3,
    0 0 16px #6fa8ff80,
    0 0 32px #6fa8ff59,
    0 0 50px #6fa8ff33;
    padding: 10px;
    font-size: 7rem;
    font-family: "pf-pixelscript", sans-serif;
    text-align: center;
    font-weight: 300;
    overflow: hidden;
    transition: color 2s ease-out,text-shadow 1.5s ease-out;  
}
.tittle__inner {
  display: inline-block;
}

.tittle:hover .tittle__inner {
  animation: poolMove 3s ease-in-out infinite;
  color: rgb(255, 255, 255);
  text-shadow:
    0 0 6px  #1f4bff,
    0 0 12px #1f4bffcc,
    0 0 24px #1f4bffb3,
    0 0 48px #1f4bff99,
    0 0 80px #1f4bff80;
}
@keyframes poolMove {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}


.time{
  color: #00f;
  text-shadow:
    0 0 4px #6fa8ff,
    0 0 8px #6fa8ffb3,
    0 0 16px #6fa8ff80,
    0 0 32px #6fa8ff59,
    0 0 50px #6fa8ff33;
  font-size: 6rem;
  font-family: "pf-pixelscript", sans-serif;
  text-align: right;
  font-weight: 200;
  padding-top: 350px;
  padding-right: 20px;
  position: relative;
  overflow: hidden; 
  transition:
    color 2s ease-out,
    text-shadow 1.5s ease-out;            
  
}

.time:hover {
  animation: timeMotion 3s ease-in-out infinite;
  color: rgb(255, 255, 255);
  text-shadow:
    0 0 6px  #1f4bff,
    0 0 12px #1f4bffcc,
    0 0 24px #1f4bffb3,
    0 0 48px #1f4bff99,
    0 0 80px #1f4bff80;
}
@keyframes timeMotion {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(25px, 0); }
  
}


.pool{
  position: absolute;
  top: 160px;
  right: 45px;
  width: 150vw;
  z-index: -1;
  pointer-events: none;
  -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 10s linear infinite;
    
  
}
@keyframes spin { 100% { 
  -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}



.giradisco{
  position: absolute;
  top: 160px;
  right: -3px;
  width: 110vw;
  height: 110vh;
  z-index: -1;
  pointer-events: none;
}

.donna{
 
  position: absolute;
  width: 55vw;
  top: 260px;
  left: 50px;
  z-index: -1;
  pointer-events: none;
  -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 30s linear infinite;
}

@keyframes spin { 100% { 
  -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}


.donna2{
position: absolute;
transform: rotate(204deg);
width: 43vw;
top: 120px;
left: 45px;
pointer-events: none;
}





/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    html {
        font-size: 24px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
body{
    background-image:url(images/sfondo.jpg);
    background-size: 2000px;
   background-position-x: center;
}

.tittle{
    color: #00f;
    padding: 10px;
    font-size: 7rem;
    font-family: "pf-pixelscript", sans-serif;
    text-align: left;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 300;
    position: relative;
    z-index: -1;
  
}
.time{
  color: #00f;
    font-size: 8rem;
    font-family: "pf-pixelscript", sans-serif;
    text-align: right;
    font-weight: 200;
    padding-top: 500px;
    padding-right: 40px;
    
  
}

.pool {
  
  top: 115px;
  left: 125px;
  z-index: -1;
  width: 75vw;
  transition: transform 1s ease;
  transform-origin: center center;
 
}

.giradisco{
  position: absolute;
  top: 140px;
  right: 125px;
  width: 55vw;
  height: 55vh;
  z-index: -1;
  pointer-events: none;
}

.donna{
  position: absolute;
  width: 25vw;
  rotate: 260deg;
  top: 500px ; 
  left: 300px;
  z-index: -1;
  pointer-events: none;
}


.donna2{
position: absolute;
transform: rotate(80deg);
width: 20vw;
top: 410px;
left: 130px;
pointer-events: none;
}

}
 