
html{ 
    font-size: 16px; /* 16px = 1rem*/
}
#pages{ 
    width: 1000vw;
    height: 100dvh;
    background-color: #dae7fd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    
   
}
.shape{ 
    aspect-ratio: 1/1; 
    color: #1900ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;      
}
.square-1 { 
    width: 100px;  
    background-color: hsla(304, 99%, 51%, 0.5);
}
.square-2 { 
    width: 150px;  
    background-color: hsla(30, 100%, 50%, 0.5);
}
.square-3 { 
    width: 200px;  
    background-color: hsla(247, 93%, 59%, 0.5);
}
.circle-1 { 
    width: 150px;
    border-radius: 50%; 
    background-color: hsla(77, 100%, 50%, 0.5);   
}

.circle-2 { 
    width: 150px;
    border-radius: 50%; 
    background-color: hsla(30, 100%, 50%, 0.5);    
}
.circle-2 { 
    width: 200px;
    border-radius: 50%; 
    background-color: hsla(60, 100%, 50%, 0.5);   
}
.circle-3 { 
    width: 250px;
    border-radius: 50%; 
    background-color: hsla(90, 100%, 50%, 0.5);   
}

.pos-a1{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.pos-a2{
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 5 ;
}
.pos-a3{
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 2 ;
}
.pos-a4{
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 2 ;
}
.pos-a5{
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 2 ;
}

.pos-f1{
    position: relative;
    bottom: -32%;
    left: 100px;
}

