html {
    font-size: 16px; /* 16px = 1rem */
}

body {
display: flex;
flex-direction: column;   
background: #e8e8e8;
}

.title{
font-family: "tumb", sans-serif;
font-size: 3rem;
color: #ff0000;
text-align: center;
margin: 40vh 0 25vh;
}

h1{
  font-family: "tumb", sans-serif;
font-size: 3rem;
color: #ff0000;
text-align: center;
margin-bottom: 30vh;

}

p{
color: #101010;
text-align: center;
font-family: "clother", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1rem;
padding: 3rem;
padding-bottom: 30vh;
}


.split-char {
  display: inline-block;
}

.indicatore{
  font-size: clamp(48px, 5.5vw, 129px);
  color: #ff0000;
  text-align: center;
  animation: bounce 1s infinite ease-in-out;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.contenitore {
  display: grid;
  place-items: center;
}


.card-3d {
  width: 60vw;
  height: 70vw;
  position: relative;
  transform-style: preserve-3d;
  cursor: grab;
  margin: 2rem;
  border-radius: 20px;
  font-family: "clother", sans-serif;
  color: #ff0000;
  border: 2px solid #ff0000;
  
}

.faccia {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 15px #ff0000e6;
  font-size: 2rem;
}


.retro{
  transform: rotateY(180deg);
  padding: 2rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: 1rem;
  gap: 15px;
    
}
.retro img{
  border-radius: 16px;
  width: 300px;
  height: 300px;
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
}

